:root {
    --body-color: #E4E9F7;
}

.crtl1,
.btn-login {
    min-height: 3.125rem;
    line-height: initial;
}

.img-1 {
    background-image: url('../../../assets/IMG1.jpeg');
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('../../../assets/IMG4.jpeg');
    background-size: cover;
    background-position: center;
}

.input-icon-eye {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.input-icon-eye input {
    padding-right: 40px;
    /* Ajusta el valor según sea necesario para dar espacio al icono */
}

.input-icon-eye svg {
    position: absolute;
    right: 15px;
    /* Ajusta el valor según sea necesario para posicionar el icono dentro del input */
    cursor: pointer;
}